<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Cms system">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>Cms System</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/adminScreen.css" type="text/css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/gridito.css" type="text/css" />
	<link rel="stylesheet" media="print" type="text/css" href="{$basePath}/css/print.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-1.8.16.custom.css" type="text/css" />
	<link rel="shortcut icon" href="{$basePath}/images/favico.png" type="image/png" />
	
	<!-- jQuery, jQuery UI & livequery -->
	<script type="text/javascript" src="{$basePath}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.16.custom.min.js"></script>
	
	<script type="text/javascript" src="{$basePath}/js/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="{$basePath}/js/tiny_mce/jquery.tinymce.js"></script>


	<script type="text/javascript" src="{$basePath}/js/jquery.ui.gridito.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.livequery.js"></script>

	<script type="text/javascript" src="{$basePath}/js/live-form-validation.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.zclip.min.js"></script>
	
	<script type="text/javascript">
		// gridito init
		$("div.gridito").livequery(function () {
			$(this).gridito();
		});
		
		$.ajaxSetup({
			url: "test.html",   
			context: document.body,

		    success: function() {
		    	runValidation();
		    }

		});
	</script>
	
	{block head}{/block}
</head>

<body>
	<ul id="menu">
		<li><a n:href="webs:default">Weby</a></li>
		<li><a n:href="pages:default">Stránky</a></li>
		<li><a n:href="pictures:default">Obrázky</a></li>
		<li><a n:href="cmsPage:default">Cms Stránky</a></li>
		<li><a n:href="galleryPages:default">Gallerie</a></li>
		<li><a n:href="actionPages:default">Akce</a></li>
		<li><a n:href="downloadPages:default">Soubory</a></li>
		<li><a n:href="user:default">Uživatelé</a></li>
		<li><a n:href="sign:out">Odhlásit se</a></li>
	</ul>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
	{include #content}
</body>
</html>
