{block content}
<div id="action" class="detail">
	<h1>{$title}</h1>
	<h2>{$action['name']}</h2>
	<div class="bar">{$action['date']}</div>
	<div class="cont">
		{!$action['text']}
		<p>Galerii můete nalézt <a n:href="gallery:detail, 'inid' => $action->id">zde</a>.</p>	
	</div>
</div>
{/block}