{block content}
<ul>
{foreach $years as $year}
	<li><a n:href="gallery:default, 'id' => $param['id'], 'rok' => $year->date">{$year->date}</a></li>
{/foreach}
</ul>

<ul>
{foreach $topics as $topic}
	<li>
		<a n:href="gallery:detail, 'id' => $param['id'], 'inid' => $topic->gallery_topics_id">
			{$topic->name}
			<img src="{$baseUrl}/../media/gallery/min/{$topic->gallery_images_id}.jpg" />
		</a>
	</li>
{/foreach}
</ul>
{/block}